.aboutCard {
  width: 300px;
  min-height: 640px;
  margin-top: 50px;
}

.image {
  width: 300px;
}

.frame {
  transform: translateY(-20px);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.title {
  padding: 4px;
  font-size: 28px;
  font-weight: 400;
  color: var(--color-four);
  font-family: var(--font-one);
  background: var(--color-two);
  text-align: center;
  text-transform: uppercase;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.body {
  border: 2px solid rgba(83, 121, 246, 0);
}

.info {
  margin: 30px 12px;
  font-size: 32px;
  font-family: var(--font-two);
  color: var(--color-three);
}

.info svg {
  margin-right: 16px;
}

@media (max-width: 1250px) {
  .aboutCard {
    width: 30%;
  }
}

@media (max-width: 1080px) {
  .image {
    width: 100%;
  }

  .title {
    font-size: 24px;
  }

  .info {
    font-size: 28px;
  }
}

@media (max-width: 990px) {
  .aboutCard {
    min-height: 500px;
  }

  .title {
    font-size: 18px;
  }

  .info {
    font-size: 22px;
  }
}

@media (max-width: 790px) {
  .aboutCard {
    min-height: 420px;
  }

  .title {
    font-size: 14px;
  }

  .info {
    font-size: 16px;
  }
}

@media (max-width: 660px) {
  .aboutCard {
    width: 48%;
    min-height: 360px;
  }

  .aboutCard:nth-child(3) {
    margin: 0 auto;
    margin-top: 50px;
  }

  .title {
    font-size: 18px;
  }

  .info {
    font-size: 20px;
  }
}

@media (max-width: 430px) {
  .aboutCard:nth-child(3) {
   width: 60%;
  }
}

@media (max-width: 380px) {
  .aboutCard, .aboutCard:nth-child(3) {
    margin: 20px auto;
    width: 90%;
    min-height: 540px;
  }

  .title {
    font-size: 16px;
  }

  .info {
    font-size: 20px;
  }
}

@media (max-width: 300px) {
  .aboutCard {
    min-height: 480px;
  }
}
