.about {
  padding-top: 70px;
  width: 1200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: var(--gradient-color-one);
}

.aboutTitle {
  font-size: 150px;
  font-weight: 300;
  font-family: var(--font-one);
  text-align: center;
  background: var(--gradient-color-two);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-transform: uppercase;
}

.aboutInfo {
  padding: 50px;
}

.aboutInfoText {
  font-size: 30px;
  font-weight: 300;
  font-family: var(--font-two);
  color: var(--color-one);
  text-align: center;
}

.aboutSubtitle {
  margin-top: 30px;
  margin-bottom: 30px;
  font-size: 47px;
  font-weight: 300;
  font-family: var(--font-two);
  color: #0087ff;
  text-align: center;
  text-transform: uppercase;
}

.skillsWrapper {
  margin-bottom: 50px;
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.skill {
  height: 100px;
  width: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.skillIcon {
  width: 50px;
  height: 50px;
  color: #0087ff;
}

.skillText {
  font-family: var(--font-two);
  color: var(--color-one);
}

.goalsWrapper {
}

.goalsList {
  font-size: 30px;
  font-weight: 300;
  font-family: var(--font-two);
  color: var(--color-one);
  list-style: none;
}

.goalsListItem {
  display: flex;
  align-items: center;
}
