.about {
  width: 1200px;
}

.wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.aboutMe {
  background: #efefef;
}

.aboutMeText {
  padding: 60px 200px;
  font-family: var(--font-two);
  color: var(--color-two);
  font-size: 32px;
}
