.contact {
  width: 1200px;
  display: flex;
  justify-content: center;
}

.form {
  width: 65%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: var(--color-three);
}

.title {
  margin: 70px 0;
  font-size: 50px;
  font-weight: 400;
  text-align: center;
  font-family: var(--font-one);
  background: var(--gradient-color-one);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-transform: uppercase;
}

.wrapper {
  padding-bottom: 50px;
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.wrapper label {
  margin-left: 10px;
  align-self: start;
  height: 20px;
  color: var(--color-five);
}

.wrapper label,
.wrapper input,
.wrapper textarea,
.wrapper button,
.wrapper .success {
  font-family: var(--font-two);
}

.wrapper input,
.wrapper textarea {
  width: 100%;
  margin-bottom: 20px;
  padding: 10px;
  font-size: 20px;
  border-radius: 7px;
  border: none;
  background: var(--color-six);
  color: var(--color-three);
  outline: none;
}

.wrapper .invalid {
  background: var(--color-five);
}

.wrapper .invalid::placeholder {
  color: var(--color-three);
}

.wrapper input:focus,
.wrapper textarea:focus {
  box-shadow: 0 0 3px 3px var(--color-five);
  background: var(--color-four);
}

.wrapper input:not(:placeholder-shown),
.wrapper textarea:not(:placeholder-shown) {
  background: var(--color-four);
}

.wrapper input {
  height: 50px;
}

.wrapper textarea {
  min-width: 100%;
  max-width: 100%;
  min-height: 200px;
}

.wrapper button {
  width: 30%;
  margin: 10px;
  padding: 5px;
  background: var(--color-five);
  border: 3px solid var(--color-five);
  border-radius: 7px;
  color: var(--color-four);
  font-size: 28px;
  cursor: pointer;
  transition: 0.3s;
}

.wrapper .success {
  margin: 10px;
  padding: 5px;
  border: 3px solid transparent;
  font-size: 28px;
  background: var(--gradient-color-one);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.wrapper button:focus,
.wrapper button:hover {
  background: var(--color-three);
  border: 3px solid var(--color-three);
  box-shadow: 0 0 3px 3px var(--color-five);
  color: var(--color-five);
}

@media (max-width: 1230px) {
  .contact {
    width: 100%;
  }
}

@media (max-width: 990px) {
  .title {
    font-size: 48px;
  }
}

@media (max-width: 990px) {
  .form {
    width: 100%;
  }
}

@media (max-width: 790px) {
  .wrapper input,
  .wrapper textarea {
    font-size: 18px;
  }

  .wrapper button,
  .wrapper .success {
    padding: 3px;
    font-size: 24px;
  }
}

@media (max-width: 660px) {
  .title {
    font-size: 42px;
  }
}

@media (max-width: 590px) {
  .wrapper {
    padding-bottom: 0;
  }
}

@media (max-width: 510px) {
  .wrapper button,
  .wrapper .success {
    font-size: 22px;
  }
}

@media (max-width: 450px) {
  .title {
    font-size: 34px;
  }
}

@media (max-width: 380px) {
  .wrapper {
    width: 80%;
  }

  .wrapper input {
    height: 40px;
  }

  .wrapper textarea {
    min-height: 180px;
  }

  .wrapper input,
  .wrapper textarea {
    font-size: 16px;
  }

  .wrapper button,
  .wrapper .success {
    font-size: 20px;
  }
}
