.navigation {
  position: fixed;
  height: 70px;
  width: 100%;
  display: flex;
  justify-content: center;
  background: var(--color-four);
  border-bottom: 2px solid var(--color-three);
  box-shadow: 0 0 5px 0 var(--color-three);
  z-index: 3;
}

.burgerNavigation {
  display: none;
  position: fixed;
  width: 100%;
  height: 70px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: transparent;
  z-index: 8;
}

.burgerNavigation .logo {
  position: absolute;
  top: 50%;
  left: 5%;
  transform: translateY(-50%);
  height: 40px;
}

.burgerNavigation p {
  font-size: 20px;
  font-family: var(--font-two);
  text-transform: uppercase;
}

.burgerNavigation p:nth-child(3) {
  font-size: 10px;
}

.burgerNavigationClosed {
  background: var(--color-four);
  border-bottom: 1px solid var(--color-three);
  box-shadow: 0 0 5px 0 var(--color-three);
}

.navList {
  position: relative;
  width: 1200px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: var(--font-one);
  color: var(--color-two);
  text-transform: uppercase;
  font-size: 24px;
  list-style: none;
}

.listItem {
  position: relative;
  height: 50px;
  line-height: 50px;
  width: 25%;
  text-align: center;
  cursor: pointer;
}

.listItem:hover {
  background: linear-gradient(180deg, var(--color-two) 44%, #64e4ec 65%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.listItem::after {
  content: '';
  display: block;
  position: absolute;
  top: 59px;
  left: 0;
  right: 0;
  height: 2px;
  background: transparent;
  z-index: 4;
}

.listItem:hover.listItem::after {
  background: linear-gradient(
    to right,
    var(--color-three) 0%,
    var(--color-three) 15%,
    var(--color-one) 40%,
    var(--color-one) 50%,
    var(--color-one) 60%,
    var(--color-three) 85%,
    var(--color-three) 100%
  );
}

.logoContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.listItem:hover.listItem.logoContainer::after {
  background: transparent;
}

.listItem:hover.listItem.logoContainer {
  cursor: default;
}

.logo {
  height: 35px;
}

.burger {
  display: none;
  position: absolute;
  top: 50%;
  right: 5%;
  transform: translateY(-50%);
  width: 35px;
  height: 30px;
  flex-direction: column;
  justify-content: space-between;
  align-items: end;
  cursor: pointer;
  z-index: 8;
}

.burger.burger.menuOpen {
  display: none;
}

.burgerBar {
  height: 2px;
  border-radius: 10px;
  background: var(--color-three);
  transition: 0.3s;
}

.burgerBarOne {
  width: 100%;
}

.burgerBarTwo {
  width: 75%;
}

.burgerBarThree {
  width: 50%;
}

.burger:hover .burgerBarTwo,
.burger:hover .burgerBarThree {
  width: 100%;
}

.burger.menuOpen .burgerBarOne {
  transform: translateY(14px) rotate(45deg);
}

.burger.menuOpen .burgerBarTwo {
  display: none;
}

.burger.menuOpen .burgerBarThree {
  width: 100%;
  transform: translateY(-14px) rotate(-45deg);
}

.burger.menuOpen:hover .burgerBarOne {
  transform: translateY(14px) rotate(225deg);
}

.burger.menuOpen:hover .burgerBarThree {
  transform: translateY(-14px) rotate(135deg);
}

@media (max-width: 1250px) {
  .navList {
    width: 90%;
  }
}

@media (max-width: 1080px) {
  .navList {
    font-size: 20px;
  }

  .logo {
    height: 32px;
  }
}

@media (max-width: 990px) {
  .navList {
    font-size: 18px;
  }

  .logo {
    height: 30px;
  }
}

@media (max-width: 790px) {
  .navigation {
    height: 100vh;
    border: none;
  }

  .navigation.navigationClosed {
    display: none;
  }

  .burgerNavigation {
    display: flex;
  }

  .navList {
    flex-direction: column;
  }

  .listItem {
    width: 90%;
  }

  .listItem::after {
    background: var(--color-three);
  }

  .listItem.logoContainer::after {
    display: none;
  }

  .navList {
    font-size: 24px;
  }

  .logo {
    height: 50px;
  }

  .burger {
    display: flex;
  }

  .burger.burger.menuOpen {
    display: flex;
  }
}

@media (max-width: 660px) {
  .navList {
    font-size: 20px;
  }

  .logo {
    height: 42px;
  }
}

@media (max-width: 570px) {
  .burger {
    height: 20px;
    width: 25px;
  }

  .burgerNavigation {
    height: 60px;
  }

  .burgerNavigation p {
    font-size: 20px;
  }
  
  .burgerNavigation p:nth-child(3) {
    font-size: 10px;
  }

  .burgerNavigation .logo {
    height: 30px;
  }

  .burger.menuOpen .burgerBarOne {
    transform: translateY(9px) rotate(45deg);
  }
  
  .burger.menuOpen .burgerBarThree {
    transform: translateY(-9px) rotate(-45deg);
  }
  
  .burger.menuOpen:hover .burgerBarOne {
    transform: translateY(9px) rotate(225deg);
  }
  
  .burger.menuOpen:hover .burgerBarThree {
    transform: translateY(-9px) rotate(135deg);
  }
}
