:root {
  --color-one: #64e4ec;
  --color-two: #241233;
  --color-three: #23192a;
  --color-four: #fff;
  --color-five: #8882e7;
  --color-six: #efefef;
  --color-seven: #502eb0;

  --gradient-color-one: linear-gradient(180deg, var(--color-seven) 4.37%, #8882e7 31.96%, #64e4ec 60.98%);

  --font-one: 'Gugi', sans-serif;
  --font-two: 'Homenaje', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
}

.container {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
